source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, net6.0
nuget Microsoft.Build.Locator
nuget Microsoft.CodeAnalysis.CSharp.Workspaces
nuget Microsoft.CodeAnalysis.Workspaces.MSBuild
nuget Microsoft.NET.Test.Sdk
nuget Nunit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter
nuget SmartAnalyzers.RoslynTestKit
nuget System.Collections.Immutable 5.0.0
nuget System.Runtime.CompilerServices.Unsafe 5.0.0
nuget System.IO.Pipelines 5.0.1